<h1>{{ title }}</h1>

<!-- Write some dummy content to the page -->
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl
  euismod aliquam tincidunt, nisl nisl aliquam lorem, eget aliquam nisl nisl
  eget lorem. Sed euismod, nisl euismod aliquam tincidunt, nisl nisl aliquam
  lorem, eget aliquam nisl nisl eget lorem. Sed euismod, nisl euismod aliquam
  tincidunt, nisl nisl aliquam lorem, eget aliquam nisl nisl eget lorem. Sed
  euismod, nisl euismod aliquam tincidunt, nisl nisl aliquam lorem, eget aliquam
  nisl nisl eget lorem. Sed euismod, nisl euismod aliquam tincidunt, nisl nisl
  aliquam lorem, eget aliquam nisl nisl eget lorem. Sed euismod, nisl euismod
  aliquam tincidunt, nisl nisl aliquam lorem, eget aliquam nisl nisl eget lorem.
  Sed euismod, nisl euismod aliquam tincidunt, nisl nisl aliquam lorem, eget
  aliquam nisl nisl eget lorem. Sed euismod, nisl euismod aliquam tincidunt,
  nisl nisl aliquam lorem, eget aliquam nisl nisl eget lorem. Sed euismod, nisl
  euismod aliquam tincidunt, nisl nisl aliquam lorem, eget aliquam nisl nisl
  eget lorem. Sed euismod, nisl euismod aliquam tincidunt, nisl nisl aliquam
  lorem, eget aliquam nisl nisl eget lorem. Sed euismod, nisl euismod aliquam
  tincidunt, nisl nisl aliquam lorem, eget aliquam nisl nisl eget lorem. Sed
  euismod, nisl euismod aliquam tincidunt, nisl nisl aliquam lorem, eget aliquam
  nisl nisl eget lorem. Sed euismod, nisl euismod aliquam tincidunt, nisl nisl
  aliquam lorem, eget aliquam nisl nisl eget lorem. Sed euismod, nisl euismod
  aliquam t
</p>

<!-- Add a button to the page -->
<button (click)="goToPage2()">Alert btn</button>
